{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
    {% if not error is empty %}
        <script>
            $(document).ready(function(){
                M.toast({html: 'Mot de passe ou adresse mail incorrect !' })
            })
        </script>
    {% endif %}
    <div>
        {{ form_start(form) }}
        <div>
            {{ form_row(form.email, {'attr': {'class': 'form-control'}}) }}
            {{ form_errors(form.email, {'attr': {'class': 'form-control'}}) }}
        </div>
        <div>
            {{ form_row(form.password, {'attr': {'class': 'form-control'}}) }}
            {{ form_errors(form.password, {'attr': {'class': 'form-control'}}) }}
        </div>
        <div>
            {{ form_row(form.connect, {'attr': {'class': 'form-control btn btn-danger'}}) }}
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}





