{% extends 'base.html.twig' %}

{% block title %}home{% endblock %}

{% block body %}

    {% for i in vote %}
        <div class="form-group mt-2">
            <h1>{{ i.conference.name }}</h1>
        </div>
        <div class="form-group mt-2">
            <span>{{ i.conference.createdAt.date }}</span>
        </div>
        <div class="form-group mt-2">
            <p>{{ i.conference.description }}</p>
        </div>
        <div>
            <p>{{ i.conference.average }}</p>
        </div>
        {% if is_granted('ROLE_ADMIN') %}
            <div class="form-group">
                <a class="mr-3" href="{{ path('edit_conference', {'id': i.conference.id}) }}">Modifier</a>
                <a href="{{ path('remove_conference', {'id': i.conference.id}) }}">Supprimer</a>
            </div>
        {% endif %}
    {% endfor %}
{% endblock %}
