{% extends 'base.html.twig' %}

{% block title %}home{% endblock %}

{% block body %}
    {% for i in vote %}
    <div class="row rowcustom">
        <div class="col s12 m12">
            <div class="card white">
                <div class="card-content white-text">
                    <span class="card-action"><h4><a href="{{ path('conferenceId', {'id' :i.conference.id}) }}">{{ i.conference.name }}</a></h4></span>
                    <p style="color:black;">{{ i.conference.description }}</p>
                </div>
                <div class="card-action">
                    <p style="margin-top:5px;"><i>{{ i.conference.createdAt.date }}</i></p>
                </div>
            </div>
        </div>
    </div>
        {% if is_granted('ROLE_ADMIN') %}
            <div class="form-group">
                <a class="mr-3" href="{{ path('edit_conference', {'id': i.conference.id}) }}">Modifier</a>
                <a href="{{ path('remove_conference', {'id': i.conference.id}) }}">Supprimer</a>
            </div>
        {% endif %}
    {% endfor %}
{% endblock %}
