{% extends 'base.html.twig' %}

{% block title %}home{% endblock %}

{% block body %}
    {% for page in pagination %}
        <div class="container">
            <div class="row mt-3">
                <div class="col s12 m12">
                    <div class="card white hoverable">
                        <div class="card-content white-text">
                            <span class="card-action">
                                <h4>
                                    <a href="{{ path('conferenceId', {'id': page.conference.id}) }}">{{ page.conference.name }}</a>
                                </h4>
                            </span>
                            <p class="black-font">{{ page.conference.description }}</p>
                        </div>
                        <div class="row card-action">
                            <p class="mt-1"><i>{{ page.conference.createdAt|date("d/m/Y") }}</i></p>
                        </div>
                    </div>
                    {% if is_granted('ROLE_ADMIN') %}
                        <div>
                            <a class="mr-1" href="{{ path('edit_conference', {'id': page.conference.id}) }}">Modifier
                                ✍🏼</a>
                            <a href="{{ path('remove_conference', {'id': page.conference.id}) }}">Supprimer 🗑️</a>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    {% endfor %}
    <ul class="pagination">
        <li class="waves-effect">{{ knp_pagination_render(pagination) }}</li>
    </ul>
{% endblock %}
