<nav>
    <div>
        <ul>
            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            {% if is_granted('ROLE_ADMIN') %}
                <li>
                    <a href="{{ path('conference') }}">Conference</a>
                </li>
            {% endif %}
            <li>
                <a href="{{ path('profile') }}">Profile</a>
            </li>
            <li>
                <a href="{{ path('logout') }}">Deconnexion</a>
            </li>
        </ul>
        <ul>
            <li>
                <a href="#">{{ app.user.firstname }}</a>
            </li>
            {% else %}
                <li>
                    <a href="{{ path('login') }}">Connexion</a>
                </li>
                <li>
                    <a href="{{ path('register') }}">Inscription</a>
                </li>
            {% endif %}
        </ul>
    </div>
</nav>

{% for label, messages in app.flashes %}
    {% for message in messages %}
        <script>
            $(document).ready(function(){
                M.toast({html: {{ message }}});
            })
        </script>
    {% endfor %}
{% endfor %}


